.modal {
    position: fixed;
    position: relative;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    z-index: 2;
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
padding: 40px;
&__dagger {
    position: absolute;
    top: 14px;
    right: 14px;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100%;
transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
&:hover {
    fill: #2196F3;
}
}
&__title {
    font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}
&__item {
    margin-bottom: 10px;
    &:last-child {
    margin-bottom: 0;
    margin-bottom: 20px;
}
}
&__filling {
    font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}
&__inputs {
    position: relative;
}
&__fitting {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
position: relative;
margin-top: 4px;
transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
&:hover {
    border-color: #2196F3;
}
&:hover + .modal-icon {
    fill: #2196F3;
}
}
&__icon {
    position: absolute;
    left: 12px;
    top: 20%;
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
&__comments {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
position: relative;
padding-top: 12px;
padding-left: 16px;
margin-top: 4px;
transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
&:hover {
    border-color: #2196F3;
}
}
&__agreement {
    display: flex;
    margin-bottom: 30px;
}
&__checkbox {
    border-color: #212121;
    margin-right: 8px;
}
&__agreement-paragraph {
     font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
&__agreement-link {
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #2196F3;
}
&__btn {
    font-size: 16px;
line-height: 1.9;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 200px;
height: 50px;
justify-content: center;
}
&__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
    z-index: 10;
}
&.is-hidden {
    opacity: 0;
    pointer-events: none;
}
&.modal {
    transform: translate(50%, -50%);
}
}
