body {
    font-family: "Roboto";
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* хедер */
.header {
    height: 80px;
background: #FFFFFF;
border-bottom: 1px solid #ECECEC;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.main-page {
    color: #000000;
    font-family: 'Raleway';
    /* margin: 24px 93px 25px 215px; */
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.web {
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.list-links {
    list-style: none;
    display: flex;
}

.header-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-right: 54px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}


.header-item:last-child {
    margin-right: 0;
}

.header-link:hover {
    color: #2196F3;
}

.contacts-item {
    margin-right: 50px;
       transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.contacts-item:last-child {
    margin-right: 0;
}

.contacts-svg {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-link {
    display: flex;
        align-items: center;
     color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.contacts-link:hover {
     color: #2196F3;
     fill: #2196F3;
}
.list-contacts {
    list-style: none;
    display: flex;
    margin-left: auto;
}

/* Мейн */

/* Кнопки */
.buttons-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 94px;
        border: none;
        background: #F5F4FA;
        padding: 6px 22px 6px 22px;
        transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
        border-radius: 4px;
}
.btn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn-item {
        margin-right: 8px;
}
.btn-item:last-child {
    margin-right: 0;
}

/* Карточки */
.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 94px;
}

.card-item {
    width: 370px;
    height: 404px;
    /* left: 215px;
    top: 262px; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}
.card-item:nth-child(3n) {
    margin-right: 0;
}
.card-item:nth-child(n+6) {
    margin-bottom: 0;
}

.overlay-paragraph {
    font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
text-align: center;
justify-content: center;
}

.card-overlay {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms , opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.card-overlay:hover {
    opacity: 1;
}

.card-item:hover .card-overlay {
    opacity: 1;
    transform: scale(1);
}

.card-description {
    text-align: center;
}

.title {
    width: 322px;
        height: 36px;
        left: 639px;
        top: 576px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
        margin-bottom: 4px;
}

.paragraph {
    width: 322px;
        height: 30px;
        left: 639px;
        top: 616px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9px;
        letter-spacing: 0.03em;
        color: #757575;
}

/* Футер */
.footer {
    height: 252px;
    background: #2F303A;
    display: flex;
}

.logo-footer {
    font-family: 'Raleway';
    padding-top: 60px;
    padding-left: 215px;
    padding-bottom: 30px;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
       color: #FFFFFF;
}

.logo-word {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.place {
    padding-left: 215px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0,03em;
    color: #FFFFFF;
    font-style: normal;
}

.email-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding-left: 215px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 20px;
}

.tel-footer {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7px;
        padding-left: 215px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

        
.join-list {
    display: flex;
}

.join-section {
    padding-top: 72px;
    padding-left: 70px;
}

.join-title {
    font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.join-item {
    margin-right: 10px;
}

.join-item:last-child {
    margin-right: 0;
}

.join-icon {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms, border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.join-icon:hover {
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 100%;
}

