body {
    font-family: 'Roboto';
    font-weight: 700;

}

/* Хедер */
.header {
    display: flex;
}
.main-page {
    color: #000000;
    font-family: 'Raleway';
    margin: 24px 1176px 2294px 279px;
    
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.web {
    color: #2196F3;
    font-family: 'Raleway';
   

    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.list-links {
    list-style: none;
    display: flex;
}

.links {
    color: #212121;
   
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
}

.links:hover {
    color: #2196F3;
}

a[href="./index.html"] {
    margin: 32px 55px 32px 517px;
}
a[href="./portfolio.html"] {
    margin: 32px 55px 32px 0px;
}
a[href="/contacts"] {
    margin: 32px 335px 32px 0px;
}

.list-contacts {
    list-style: none;
    display: flex;
}

.contacts {
    color: #212121;
   
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.contacts:hover {
    color: #2196F3;
}

a[href="mailto:info@devstudio.com"] {
    margin: 32px 50px 32px 1142px;
}
a[href="tel:+380961111111"] {
    margin: 32px 151px 32px 0px;
}

/* Мейн */
.main-section {
    background-color: #2F303A;
    width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
}
.title {
    
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        padding: 200px 452px 0px 452px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 1600px;
            
            
        color: #FFFFFF;
}

.btn {
    width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    margin: 30px 700px 200px 700px;
padding: 10px 24px;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.opportunities {
    list-style: none;
    display: flex;
}

.team {
    list-style: none;
    display: flex;
}

.name {
   
    
   
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.first-item {
    width: 270px;
        height: 101px;
        left: 215px;
        top: 774px;
        margin: 0px 30px 94px 215px;
}
.second-item {
    width: 270px;
        height: 101px;
        left: 215px;
        top: 774px;
        margin: 0px 30px 94px 0px;
}
.third-item {
    width: 270px;
        height: 101px;
        left: 215px;
        top: 774px;
        margin: 0px 30px 94px 0px;
}
.fourth-item {
    width: 270px;
        height: 101px;
        left: 215px;
        top: 774px;
        margin: 0px 215px 94px 0px;
}

.article {
   
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}

/* Чим ми займаємося */
.work {

    margin: 0px 617px 50px 617px;

    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

img[alt="photo1"] {
    margin: 0px 30px 94px 215px;
}
img[alt="photo2"] {
    margin: 0px 30px 94px 0px;
}
img[alt="photo3"] {
    margin: 0px 215px 94px 0px;
}

/* Наша команда */
.our-team-section {
    background-color: #F5F4FA;
    width: 1600px;
        height: 648px;
        left: 0px;
        top: 1449px;
}

.our-team {
    margin: 94px 668px 50px 668px;
   
    
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

img[alt="team1"] {
    margin: 0px 30px 94px 215px;
}
img[alt="team2"] {
    margin: 0px 30px 94px 0px;
}
img[alt="team3"] {
    margin: 0px 30px 94px 0px;
}
img[alt="team4"] {
    margin: 0px 215px 94px 0px;
}

/* Футер */
.footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;

    background: #2F303A;
}

.w-footer {
    font-family: 'Raleway';
    padding: 60px 0px 20px 215px;
    
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.s-footer {
    font-family: 'Raleway';
    padding: 60px 1240px 20px 215px;
   
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.place {
    padding: 0px 1154px 9px 215px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0,03em;

    color: #FFFFFF;
}

.e-mail-footer {
   
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding: 0px 1154px 9px 215px;
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7px;
        
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        padding: 0px 1154px 60px 215px;
    }
        

.list-footer {
    list-style: none;
}
.list-about {
    list-style: none;
    display: flex;
}
